snippet === "Comment Section"
" ==============================
" ${1:New Section}
" ==============================
${0}
endsnippet


snippet == "Comment Section"
" ===============
" ${1:New Section}
" ===============
${0}
endsnippet

